html{ font-size:24px;}

body{width:100%;max-width:800px;margin:auto;}

#header{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}

#header h1{ 
    margin:.1em;
    letter-spacing:.1em;
}

#header h1 a { 
    text-decoration:none;
    color:#092b00;
    font-size:1.5rem;
}
